<div class="blog-background text-center">
  <h2>{{name}}</h2>

  <p>{{description}}</p>
      <p>
    <span class="dollar-amount">{{rating}}</span>
    <span for="img" aria-label="money">â­</span>
  </p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
  <form class="form new-comment-form">
    <div class="comment-group">

      <textarea class="comment-form-input" id="comment-desc" name="comment-desc"></textarea>
    </div>
    <div class="comment-group">
      <button type="submit" class="btn btn-primary">submit comment</button>
    </div>
  </form>
  <p></p>
{{#each comments as |comment|}}
<p><span role="img"><img class="blog-icon" src="/assets/comment.png"/></span> {{comment.comment_text}} ({{user.name}} on {{format_date date_created}}) </p>

{{/each}}
  </p>
</div>







<script src="/js/comment.js"></script>
