<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- <span class="dollar-amount">{{get_emoji blog.needed_funding}}</span> --}}
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    {{!-- <p>
      {{blog.needed_funding}}
      <span for="img" aria-label="money">⭐</span>
      review!
    </p> --}}
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}
